<% if User.current.logged? %>
  <li class="folder">
    <a href="#" class="submenu"><%= l(:label_favorite) %></a>
    <ul>
      <% unless all_favorite %>
        <li>
          <%= context_menu_link l(:button_add_favorite),
                               favorite_issues_path(issue_id: issues.map(&:id)),
                               :method => :post,
                               :class => 'icon icon-favorite' %>
        </li>
      <% end %>
      <% if any_favorite %>
        <li>
          <%= context_menu_link l(:button_remove_favorite),
                               favorite_issues_path(issue_id: issues.map(&:id)),
                               :method => :delete,
                               :class => 'icon icon-favorite-off' %>
        </li>
      <% end %>
    </ul>
  </li>
<% end %>